.Home{
    .collection{
        margin-top: 50px;
        overflow: visible;
    }
    .info{
        .subheading{
            margin-top: 10px;
        }
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 40px;
        column-gap: 1.33%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .content {
      justify-content: space-between;
    }
  }