* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #888;
  --accent-color: #8800c7;
  --hover-color: #e3a8fe7f;
}
/* html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html.light {
  --bg: #ffffff;
  --text: #111111;
}

html.dark {
  --bg: #1a1a1a;
  --text: #f5f5f5;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--bg); */
  /* color: var(--text); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}
p {
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* overflow: hidden; */
}
.hover-link {
  cursor: pointer;
  border-radius: 4px;
}
.hover-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hover-link:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  padding: 12px 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}
.btn-secondary {
  padding: 12px 16px;
  background-color: white;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}
.btn-primary:hover {
  background-color: #921bc9;
}
.btn-primary:active {
  background-color: #983dc2;
}
::-webkit-scrollbar {
  width: 0px;
}
