.list {
  background-color: white;
  border-bottom: 1px solid white;
  border-radius: 20px;
  visibility: visible;
  margin-top: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  overflow: auto;
  height: 10vw;
  font-size: 16px;
  width: 19vw;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: black;
    a {
      width: 100%;
      display: block;
      border-radius: 16px;
      &:hover {
        background-color: var(--hover-color);
      }
      li {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20ch;
        padding: 4px 8px;
        text-align: left;
        text-transform: lowercase;
        cursor: pointer;
        color: black;
      }
    }
  }
}
.magic {
  visibility: hidden;
}
