.list {
  background-color: white;
  border-bottom: 1px solid white;
  border-radius: 20px;
  visibility: visible;
  margin-top: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  overflow: auto;
  height: 10vw;
  font-size: 1.6vw;
  width: 19vw;
  ul {

    list-style: none;
    
    width: 100%;
    color: black;
 

    li {
     
      white-space: nowrap;
     
      border-bottom: 1px solid grey;
      width: 100%;
      
      overflow: hidden;
      padding: 2px;
      text-align: left;
      text-transform: lowercase;
      text-overflow: ellipsis;
      cursor: pointer;
      color: black;
    }
  }
}
.magic{
  visibility: hidden;
}
